@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main{
    background-color: #ebebeb;
    /* Esto es solo para emular contenido */
    min-height: 100vh;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.aling-center{
    align-items: center;
}
.gap-small{
    gap: 5px
}

/*----------------------- ML product section -------------------------*/

.ml-product-section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.ml-product-section{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1180px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 
    0px 1px 2px rgba(0, 0, 0, 0.105)
    ;
}

.ml-product-section__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ml-product-section__header__heading-container{
    display: flex;
    flex-direction: row;
}

.ml-product-section__header__heading-container h2{
    font-size: 20px;
}

.ml-product-section__header__pagination{
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.pagination-circle{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(227, 227, 227);
}

.pagination-circle--active{
    background-color: rgb(52, 131, 250);
}

.ml-product-section__body{
    width: 100%;
}

/*---------------------- ML product section (end) --------------------*/

/* --------------------- ML Product list -------------------------- */

.ml-product-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ml-product-card{
    height: 380px;
    display: flex;
    flex-direction: column;
    width: 180px;
    gap: 10px;
}

.ml-product-card__body{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 0 10px;
}

.ml-product-card__title{
    color: rgb(33, 33, 33);
    font-size: 14px;
    font-weight: 400;
}

.ml-product-card__original-price{
    font-size: 12px;
    color: rgb(102, 102, 102);
    text-decoration: line-through rgb(102, 102, 102);
}

.ml-product-card__final-price{
    font-size: 24px;
    font-weight: 400;
}

.ml-product-card__discount{
    color: rgb(0, 166, 80);
    font-size: 12px;
}

.ml-product-card__installments{
    color:rgb(0, 166, 80);
    font-size: 14px;
}


.ml-product-card__arrives-free{
    padding: 2px;
    background-color: #00a550;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 2px;
}

.ml-product-card__full{
    font-weight: 700;
    color: #00a550;
    font-style: italic;
    font-size: 14px;
}
/* ------------------ ML product list (end) ------------------------ */